<footer class="py-5">
  <div class="container">
    <div class="text-center">
      <h6>© Sheikh Shakil Ahmed - 2021</h6>
      <a class="btn btn-sm btn-dark mt-3" href="#nav">Back to top</a>
    </div>
  </div>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
  crossorigin="anonymous"
></script>

</body>
</html>