<nav id="nav" class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">SheikhShakil</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav-menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Skills & Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            >Hire me</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Submit a quote</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Ask for a call</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control" type="text" placeholder="Search" />
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
