<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DevShakil Privacy Policy</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body class="privacy">
    <section class="p-4">
      <div class="container">
          <div class="text-center mb-2">
            <i class="fas fa-3x text-danger fa-shield-alt"></i>
          </div>
        <h2 class="text-center">Privacy Policy of <a href="/">DevShakil</a></h2>
        <hr>
        <div class="">
            <p>
                <h4>Regarding data collection:</h4>
                <hr>
                <ul>
                    <li>No personal data is collected by any of our games.</li>
                    <li>During whole play cycle of our games, NO sensitive user data is ever collected.</li>
                    <li>We never collect any data from you for showing ads.</li>
                    <li>Your game data is never shared with any third parties.</li>
                </ul>
            </p>
            <p>
                <h4>Conclusion:</h4>
                <hr>
                <ul>
                    <li>Only you are in full control of your data.</li>
                    <li>We never collect any personal data from you.</li>
                </ul>
            </p>
        </div>
      </div>
    </section>
  </body>

  <script>
    const netStatus = () => {
      window.addEventListener("offline", () => {
        document.write("Seems you are offline");
      });
    };
    netStatus();
  </script>
</html>
